<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto mt-5">
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="card-title text-center text-secondary">Login</h4>
                    <form (ngSubmit)="signIn()" [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="email">Enter Email:</label>
                            <input type="email" name="email" id="email" class="form-control" formControlName="email" />
                        </div>
                        <div class="form-group mt-2">
                            <label for="password">Enter Password:</label>
                            <input type="password" name="password" id="password" class="form-control" formControlName="password" />
                        </div>
                        <div class="row">
                            <div class="col-md-2 mt-2">
                                <button type="submit" class="btn btn-success" (click)="signIn()" [disabled]="!loginForm.valid">
                                    Login
                                </button>
                            </div>
                            <div class="col-md-2 mt-2">
                                <button type="submit" class="btn btn-block btn-info" (click)="loadReg()">
                                    Register
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>